
</div>
<div class="footer-padding" ></div>
  <div class="footer " style="position: fixed; bottom: 0px;">
    <p>Copyright © 2023 Atul Agnihotri</p>
  </div>
</div>
</body>
</html>



<script>


const printButton = document.getElementById("printButton");

printButton.addEventListener("click", () => {
window.print();
});
</script>
